body {
  background-color: antiquewhite;
}

/* LOCATION CARDS */
.location-card > img {
  width: 90%;
  margin-left: 5%;
}

.location-card {
  background-color: slategray;
  width: 25%;
  height: 500px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 2.5%;
  position: relative;
  padding-top: 20px;
}

button {
  display: block;
  width: 20%;
  margin-left: 40%;
}

textarea {
  width: 90%;
  margin-left: 5%;
}